VITE_API_URL=http://localhost:8080
VITE_GYM_NAME=Gym Name
VITE_GYM_LOGO_URL=/logo.svg
VITE_DIRECTOR_NAME=John Doe
VITE_INVOICE_TERMS=Fees must be paid before 10th of every months.|The membership will be cancelled if the dues are not paid by the member for two months.|Regarding all members the Director's decision will be final.|Fees once paid will not be refund, not transferable & not extendable.